In [5]:
print('Hi!')

Hi!

In [6]:
# Getting String - input statement

name = input('Enter your Name : ')
print('hi ', name)

Enter your Name :  Manya

hi  Manya

In [7]:
# Getting Integer input statement
a = int(input('Enter the value for A : '))
print(type(a))
b = int(input('Enter the value for B : '))
print(type(b))
c = a+b
print(c)

Enter the value for A :  2

<class 'int'>

Enter the value for B :  5

<class 'int'>
7

In [8]:
# Getting input - float
a = float(input('Enter the valu for A : '))
b = float(input('Enter the valu for B : '))
c = a+b
print(c)

Enter the valu for A :  5
Enter the valu for B :  6

11.0

In [10]:
#Multiple Values in Single Line
name1,name2,name3=input('Enter 3 Names  : ').split()
print('Name 1 : ',name1)
print('Name 2 : ',name2)
print('Name 3 : ',name3)

Enter 3 Names  :  Manya Dhanya Shobha

Name 1 :  Manya
Name 2 :  Dhanya
Name 3 :  Shobha

In [11]:
name1,name2,name3=input('Enter 3 Names  : ').split(',')
print('Name 1 : ',name1)
print('Name 2 : ',name2)
print('Name 3 : ',name3)

Enter 3 Names  :  Manya,Dhanya,Shobha

Name 1 :  Manya
Name 2 :  Dhanya
Name 3 :  Shobha

In [12]:
import calendar

#ask of month and yeaR
year = int(input("Please Enter the year Number: "))
month = int(input("Please Enter the month Number: "))

print(calendar.month(year, month))

Please Enter the year Number:  2026
Please Enter the month Number:  12

   December 2026
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [13]:
# Find Area of Triangle based on Base and Height
print("Enter the Base Length of Triangle: ")
b = float(input())
print("Enter the Height Length Triangle: ")
h = float(input())
a = 0.5 * b * h
print("\nArea = ", a)

Enter the Base Length of Triangle:

 4

Enter the Height Length Triangle:

 5

Area =  10.0

In [14]:
str = "BANANA"
print(str[0])
print(str[1])
print(str[2])
print(str[3])
print(str[4])
print(str[5])

B
A
N
A
N
A

In [15]:
#looping through string
for x in 'BANANA':
    print(x)

B
A
N
A
N
A

In [16]:
s = "life iS beaUtiful !!! "
print(s)

life iS beaUtiful !!!

In [17]:
print(s.strip())

life iS beaUtiful !!!

In [18]:
print(type(s))

<class 'str'>

In [19]:
print(len(s))

22

In [20]:
print(s.upper())

LIFE IS BEAUTIFUL !!!

In [21]:
print(s.lower())

life is beautiful !!!

In [22]:
s = "life iS beaUtiful !!! "
print(s.capitalize())

Life is beautiful !!!

In [23]:
print(s.title())

Life Is Beautiful !!!

In [24]:
print (s.center(100))

                                       life iS beaUtiful !!!

In [25]:
s = "life iS beaUtiful ha"
print('life' in s)
print('fast' in s)

True
False

In [26]:
print(s.count("!"))

0

In [27]:
print(s.endswith("ha"))

True

In [28]:
s = "life iS beaUtiful ha"
print(s.find("f"))

2

In [29]:
print(s.replace("l",'w'))

wife iS beaUtifuw ha

In [30]:
a = 'life is beautiful !!!'
b = 'Live happily'
print("Concatenation : " + a + b)
print("Concatenation : " , a , b)

Concatenation : life is beautiful !!!Live happily
Concatenation :  life is beautiful !!! Live happily

In [31]:
str = "PythonProgramming"
# Start Oth index to end
print(str[0:])

PythonProgramming

In [32]:
# Starts 1th index to 4th index
print(str[1:5])

ytho

In [33]:
# Starts 2nd index to 3rd index
print(str[2:4])

th

In [34]:
# Starts 0th to 2nd index
print(str[:3])

Pyt

In [35]:
#Starts 4th to 6th index
print(str[4:7])
print(str[0])
print(str[-1])

onP
P
g

In [2]:
# string formatting
# curly brackets
print('{} and {} are best friends'.format('Arun','vijay'))

Arun and vijay are best friends

In [1]:
# positional arguements
print('{1} and {0} are best friends'.format('Arun','vijay'))

vijay and Arun are best friends